/.next
/.pnp
/.serverless
/.swc
/build
/coverage
/node_modules
/out
.DS_Store
.env
.env*.local
.pnp.js
.pnpm-debug.log*
.vercel
*.pem
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
